body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 120%;
}
.main-content {
  flex: 1; /* Pushes the footer to the bottom */
  padding: 20px;
}
.footer {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

#right-btn {
  position: fixed;
  top: 2rem;
  left: 2rem;
  padding: 0.5rem;
  background-color: #e9e9ed;
  border: solid lightgray 1px;
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 1000;
}
#right-btn .dots {
  width: 25px;
  height: 4px;
  background-color: darkgrey;
  border-radius: 25%;
  margin: 2px auto;
}
#right-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
nav {
  margin: 5rem 0 0 1rem;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* for Firefox */
  min-height: 0;
}
nav h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  /* for Firefox */
  min-height: 0;
}
nav ul li {
  margin-bottom: 0.5rem;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  border-radius: 0.25rem;
}
nav ul li a:hover {
  background-color: #e5e7eb;
}

#language-switcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
#language-switcher li {
  margin: 0 5px;
}

#button-updates {
  text-align: center;
  margin-bottom: 1em;
  color: #888;
  font-size: 0.75rem;
}

.title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2e4057;
}
@media (prefers-color-scheme: dark) {
  .title-page {
    color: lightblue;
  }
}
.title-page .intro {
  font-size: 36px;
  font-weight: 300;
  max-width: 80%;
  margin-top: 10vh;
}
.title-page .title {
  font-size: 64px;
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 3vh;
}
.title-page .button {
  font-size: 36px;
  margin-top: 3vh;
}

.footer .license-text {
  font-size: 20px;
}
.footer .license-link {
  font-size: 20px;
}
.footer .copyright {
  font-size: small;
  color: grey;
}

.btn {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.btn:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.blue-btn {
  background-color: #0038B8;
}
.blue-btn:hover {
  background-color: #155dbe;
}
.blue-btn:active {
  background-color: #104a94;
}
.grey-btn {
  background-color: lightgrey;
}
.grey-btn:hover {
  background-color: darkgrey;
}
.grey-btn:active {
  background-color: darkgrey;
}
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
  nav h2 {
    color: black;
  }
}
