<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{%- include head.html -%}
<body x-data="{ buttons: false, prev_scroll: 0, right_sidebar_button: false, right_sidebar: false }"
      :class="(right_sidebar && window.innerWidth < 1600) ? 'overflow-hidden' : 'overflow-visible'">

<div class="page" @scroll.window="right_sidebar_button = (right_sidebar || window.innerWidth > 1000 || window.pageYOffset < prev_scroll) ? true : false; prev_scroll = window.pageYOffset">

  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>

  <button id="right-btn" x-cloak
          x-show="right_sidebar_button"
          @click="right_sidebar = !right_sidebar"
          @keydown.escape="right_sidebar = false"
          :aria-expanded="right_sidebar">
    <div class="dots"></div>
    <div class="dots"></div>
    <div class="dots"></div>
  </button>

  <aside id="right-sidebar" x-cloak
         x-show="right_sidebar" x-transition.origin.top.right
         @click.outside="if (window.innerWidth < 1600) right_sidebar = false">
    <nav>
      <h2>Index</h2>
      <ul>
        {% for item in page.toc %}{% if item.hide %}
        <template x-if="buttons"><li><a href="#{{ item.id }}"><em class="comment">{{ item.title }}</em></a></li></template>
        {% else %}
        <li><a href="#{{ item.id }}">{{ item.title }}</a></li>
        {%- endif -%}{%- endfor -%}
        <li>
          <button @click="setTimeout(() => { buttons = true; $nextTick(() => {$dispatch('openall')})}, 500)">Show comments</button>
          <button x-data="{ clicked : false }"
                  @click="if (!clicked) setTimeout(() => { buttons = !buttons; if (clicked == 2) $nextTick(() => {$dispatch('openall')}); clicked = false; }, 500); clicked = true"
                  @click.shift="clicked = 2"
                  @dblclick="clicked = 2"
                  :title="buttons ? 'Without comments' : 'With comments (Shift/DoubleClick - Open All)'">…</button>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    {{ content }}
  </main>
</div>
</body>
</html>
