---
layout: default
---
<div class="bg-[#f7f7f7] dark:bg-[#18191a]" style="opacity: 1;" x-data="{ leftSidebarOpen: false, rightSidebarOpen: false }">
  <header class="bg-[#0038B8] text-white p-2 xl:pl-4 w-full shadow flex items-center justify-between fixed top-0 z-50">
    <button @click="leftSidebarOpen = !leftSidebarOpen" class="focus:outline-none xl:hidden cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
    <a href="/" class="flex items-center">
      <img src="/logo.jpg" alt="Uriel logo" class="w-8 h-auto rounded-full mr-2" />
      <span class="text-xl font-bold">Uriel</span>
    </a>
    <button @click="rightSidebarOpen = !rightSidebarOpen" class="focus:outline-none xl:hidden cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
      </svg>
    </button>
  </header>

  <div class="flex justify-center">
    {% include sidebar_left.html %}

    <main class="w-full lg:w-2/3 xl:w-2/5 pt-20 px-2">
      {{ content }}
      <div class="py-2"></div>
    </main>

    {% include sidebar_right.html %}
  </div>

  <!-- Overlay to close sidebars when clicking outside on mobile -->
  <div @click="leftSidebarOpen = false; rightSidebarOpen = false" 
        class="fixed inset-0 bg-black/50 z-0 xl:hidden" 
       :class="(leftSidebarOpen || rightSidebarOpen) ? 'block' : 'hidden'"></div>
</div>
